<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.nexgrid.adcb.common.dao.CommonDAO">
  
  	<!-- CTN 정상 여부 -->
 	<select id="getBlockCTN" parameterType="java.lang.String" resultType="java.lang.Integer">
 		SELECT 
		    COUNT(*) 
		FROM 
		    TB_BLOCK_CTN 
		WHERE 
		    CTN = #{ctn}
 	</select>
 	
 	
 	<!-- 요금제 정상 여부 -->
 	<select id="getBlockFeeType" parameterType="java.lang.String" resultType="java.lang.Integer">
 		SELECT 
			COUNT(*) 
		FROM 
			TB_BLOCK_FEE_TYPE 
		WHERE 
			FEE_TYPE_CD = #{feetype}
 	</select>
 	
 	
 	<!-- SLA INSERT -->
 	<insert id="slaInsert" parameterType="com.nexgrid.adcb.common.vo.LogVO">
 		INSERT INTO TB_API_LOGS (
	 		SEQ_ID,
	        RESULT_CODE,
	        REQ_TIME,
	        RSP_TIME,
	        API_TYPE,
         	API_RESULT
         	)
	     VALUES (
	     	#{seqId},
			#{resultCode},
			#{reqTime},
			#{resTime},
			#{apiType},
			#{apiResultCode}
			)
 	</insert>
 	
 	<!-- test phone 등록 여부 확인 -->
 	<select id="testPhoneCheck" parameterType="java.lang.String" resultType="java.lang.Integer">
	 	SELECT 
	 		COUNT (*)
	  	FROM 
	  		TB_ENROLLMENT_PHONE
	 	WHERE 
	 		CTN = #{ctn}
 	</select>
 	
 	<!-- 청구 API 요청 중복 체크 & PaymentStatus 가져오기 -->
 	<select id="reqDuplicateCheck" parameterType="java.util.Map" resultType="java.util.Map">
 		SELECT
 			REQUEST_ID,
 			ISSUER_PAYMENTID, 
 			RESULT_MSG, 
 			RESULT,
 			HTTP_STATUS
		FROM 
			TB_CHARGE_INFO
		WHERE 
			INIT_DATE IN (#{current_month}, #{last_month}) 
		    AND REQUEST_ID = #{requestId}
 	</select>
 	
 
  
 </mapper>