<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.nexgrid.adcb.api.refund.dao.RefundDAO">
 	
 
 	<!-- 환불 API 요청 중복 체크-->
 	<select id="reqDuplicateCheck" parameterType="java.util.Map" resultType="java.util.Map">
 		SELECT
 			REQUEST_ID,
 			ISSUER_REFUNDID, 
 			RESULT_MSG, 
 			RESULT,
 			HTTP_STATUS
		FROM 
			TB_REFUND_INFO
		WHERE 
			INIT_DATE IN (#{current_month}, #{last_month}) 
		    AND REQUEST_ID = #{requestId}
 	</select>
 	
 	
 	
 	<!-- BOKU의 환불 API 최초 요청 데이터 INSERT -->
 	<insert id="insertRefundReq">
 		INSERT INTO TB_REFUND_INFO (
	 		REQUEST_ID,
	        CLIENT_REFUNDID,
	        ISSUER_PAYMENTID,
	        AMOUNT,
	        REFUND_REASON,
         	MERCHANT_ID
         	)
	     VALUES (
	     	#{param.requestId},
			#{param.clientRefundId},
			#{param.issuerPaymentId},
			#{param.refundAmount.amount},
			#{param.refundReason},
			#{param.merchantId}
			)
 	</insert>
 	
 	
 	
 	<!-- 환불 유효기간 및 부분처리 체크 -->
 	<select id="partialRefundCheck" parameterType="java.util.Map" resultType="java.util.Map">
 		SELECT
 			ISSUER_PAYMENTID,
 			AMOUNT,
 			PARTIAL_REFUND_SUM, 
 			BALANCE,
 			FEE_TYPE,
 			REFUNDINFO,
 			CTN,
 			SVC_AUTH,
 			SUB_NO
		FROM 
			TB_CHARGE_INFO
		WHERE
			INIT_DATE IN (#{pay_month}, #{pay_next_month})
		    AND ISSUER_PAYMENTID = #{issuerPaymentId}
	</select>
	
	
	<!-- 환불 완료 또는 실패 정보 UPDATE -->
	<update id="updateRefundInfo">
		UPDATE
			TB_REFUND_INFO
		SET 
			HTTP_STATUS = #{param.HTTP_STATUS},
			REFUND_DT = #{param.REFUND_DT},
			RESULT = #{param.bokuRes.result.reasonCode},
			BR_ID = #{param.Res_116.BR_ID},
			ISSUER_REFUNDID = #{param.bokuRes.issuerRefundId},
			RESULT_MSG = #{param.bokuRes.result.message}
		WHERE
			INIT_DATE IN (#{param.current_month}, #{param.last_month})
			AND REQUEST_ID = #{param.requestId}
	</update>
	
	
	
	<!-- 환불 처리 누적 금액 & 환불후 잔액 UPDATE -->
	<update id="updateChargeInfo">
		UPDATE
			TB_CHARGE_INFO
		SET
			BALANCE = AMOUNT - (PARTIAL_REFUND_SUM + #{param.refundAmount.amount}),
			PARTIAL_REFUND_SUM = PARTIAL_REFUND_SUM + #{param.refundAmount.amount}
		WHERE
			INIT_DATE IN (#{param.pay_month}, #{param.pay_next_month})
		    AND ISSUER_PAYMENTID = #{param.issuerPaymentId}
	</update>
 	
 </mapper>