<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.nexgrid.adcb.api.reverse.dao.ReverseDAO">
 	
 
 	<!-- 환불된 지불에 대한 취소요청 시 필요한 issuerRefundId 가져오기-->
 	<select id="getIssuerRefundId" parameterType="java.util.Map" resultType="java.lang.String">
		SELECT 
		    ISSUER_REFUNDID
		FROM 
		    TB_REFUND_INFO
		WHERE 
		    INIT_DATE IN (#{month1}, #{month2})
		    AND ISSUER_PAYMENTID = #{issuerPaymentId}
 	</select>
 	
 	
 	

	
	

 	
 </mapper>