<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.nexgrid.adcb.api.submitMT.dao.SubmitMTDAO">
 
 	<insert id="insertSmsSend" useGeneratedKeys="true" parameterType="com.nexgrid.adcb.common.vo.SmsSendVO">
         
        <selectKey keyProperty="seq" resultType="java.lang.String" order="BEFORE">
        	SELECT seq_tb_sms_send_info.nextval AS seq FROM DUAL
        </selectKey>
         
         INSERT INTO TB_SMS_SEND_INFO (
         	SEQ,
	 		TRY_CNT,
	        GUBUN,
	        FAIL_RSN_CD,
	        FROM_CTN,
         	TO_CTN,
         	REQUEST_ID,
         	CONTENT
         	)
	     VALUES (
	     	#{seq},
     		#{try_cnt},
     		#{gubun},
     		#{fail_rsn_cd},
     		#{from_ctn},
     		#{to_ctn},
     		#{request_id},
     		#{content}
	     	)
	</insert>
 </mapper>